SampleID,Condition,Replicate,bamReads,Peaks,PeakCaller
SRR15343192,WT,1,/home/curso/dia3/alignment_10M_flt/SRR15343192_10M_flt.bam,/home/curso/dia3/peak_calling_10M/SRR15343192.macs3_peaks.narrowPeak,narrow
SRR15343193,WT,2,/home/curso/dia3/alignment_10M_flt/SRR15343193_10M_flt.bam,/home/curso/dia3/peak_calling_10M/SRR15343193.macs3_peaks.narrowPeak,narrow
SRR15343194,WT,3,/home/curso/dia3/alignment_10M_flt/SRR15343194_10M_flt.bam,/home/curso/dia3/peak_calling_10M/SRR15343194.macs3_peaks.narrowPeak,narrow
SRR15343189,MDX,1,/home/curso/dia3/alignment_10M_flt/SRR15343189_10M_flt.bam,/home/curso/dia3/peak_calling_10M/SRR15343189.macs3_peaks.narrowPeak,narrow
SRR15343190,MDX,2,/home/curso/dia3/alignment_10M_flt/SRR15343190_10M_flt.bam,/home/curso/dia3/peak_calling_10M/SRR15343190.macs3_peaks.narrowPeak,narrow
SRR15343191,MDX,3,/home/curso/dia3/alignment_10M_flt/SRR15343191_10M_flt.bam,/home/curso/dia3/peak_calling_10M/SRR15343191.macs3_peaks.narrowPeak,narrow
